/* loginOptions */
#loginOption__Img__Welcome {
  margin-top: 20px;

  width: 701px;
  height: 104px;

  background-image: url("../images/custom/Welcome.png");
  opacity: 0.5;
}
#loginOption__Img__OccWar {
  margin-top: 30px;
  margin-bottom: 40px;

  width: 421px;
  height: 190px;

  background-image: url("../images/custom/Text_Logo.png");
}
.loginOptionButtonContainer {
  margin-right: 50px;
}
#loginOptionMicrosoft {
  width: 331px;
  height: 60px;

  border: none;
  background-color: transparent;

  background-image: url("../images/custom/Microsoft_Log_Btn.png");
  cursor: pointer;
}
#loginOptionMicrosoft:hover {
  filter: brightness(1.25);
  
  transition: filter ease-out 0.25s;
}



/* landing */
#landingContainer {
  display: flex;
}

#landing__customSideBar {
  padding-top: 50px;
  padding-left: 24px;

  width: 96px;
  height: 580px;

  background-image: url("../images/custom/Tab_Bg.png");
}
#landing__serverLogo {
  margin-bottom: 39px;

  width: 73px;
  height: 73px;

  background-image: url("../images/custom/Logo_Icon.png");
}
#langing__playTab {
  margin-bottom: 39px;

  width: 73px;
  height: 73px;

  background-image: url("../images/custom/Play_Btn.png");
  cursor: pointer;
}
#langing__tabs {
  padding-left: 15px;
  padding-top: 25px;

  width: 58px;
  height: 218px;

  background-image: url("../images/custom/Tab_Inner_Bg.png");
}
#langing__tabs > div:hover {
  filter: brightness(1.5);
}
#settingsMediaButton {
  margin-bottom: 25px;

  width: 46px;
  height: 46px;

  background-image: url("../images/custom/Settings_Btn.png");
  cursor: pointer;
}
#langing__tabsHompage {
  margin-bottom: 25px;
  
  width: 46px;
  height: 46px;

  background-image: url("../images/custom/Home_Btn.png");
  cursor: pointer;
}
#langing__tabsDiscord {
  width: 46px;
  height: 46px;

  background-image: url("../images/custom/Discord_Btn.png");
  cursor: pointer;
}

#landing__main {
  position: relative;

  width: 700px;
  height: 630px;
}
#landing__miniProfile {
  position: relative;
  left: 20px;
  top: 50px;

  width: 233px;
  height: 48px;

  background-image: url("../images/custom/Mini_Profile_Bg.png");
}
#avatarContainer {
  position: absolute;
  left: 12px;
  top: 12px;

  width: 24px;
  height: 24px;
}
#user_text {
  position: absolute;
  left: 50px;
  top: 12px;

  width: 150px;
  font-size: 1.2em;
  text-align: center;
  white-space: nowrap;
}
#langing__textLogo {
  position: absolute;
  left: 100px;
  top: 200px;

  width: 421px;
  height: 190px;
  background-image: url("../images/custom/Text_Logo.png");
}
#landing__rubyAxe {
  position: absolute;
  left: 465px;
  top: 180px;

  display: inline-block;

  width: 165px;
  height: 293px;

  transform: rotateZ(30deg) rotateY(180deg);

  background-image: url("../images/custom/ruby_axe2.png");
  background-size: contain;
}
#launch_button {
  position: absolute;
  left: 225px;
  top: 435px;

  width: 150px;
  height: 50px;

  background-image: url("../images/custom/Start_Btn.png");
}

#langing__news {
  padding-left: 25px;
  padding-top: 20px;

  width: 275px;
  height: 610px;

  background-color: #0008;
}
#landing__newsMarker {
  margin-bottom: 15px;

  width: 84px;
  height: 36px;

  background-image: url("../images/custom/News_Marker.png");
}
#landing__news1 {
  margin-bottom: 20px;

  width: 250px;
  height: 250px;

  background-color: #af2d2d;
}
#landing__news2 {
  margin-bottom: 20px;

  width: 250px;
  height: 150px;

  background-color: #af2d2d;
}
#landing__news3 {
  width: 250px;
  height: 80px;

  background-color: #af2d2d;
}